In [6]:
import pandas as pd
import re

In [2]:
rawd=pd.read_csv("/train.csv")

In [3]:
#Q1. deleting all the missing values
rawd.dropna()
rawd.dropna(subset=['New_Price'], inplace=True)
rawd.dropna(subset=['Mileage'], inplace=True)
rawd.dropna(subset=['Power'], inplace=True)

In [4]:
rawd.isnull().sum()
#Handling the missing values

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [7]:
#Q2 Take away some of the attributes' units and retain merely the number values
rawd['Mileage'] = rawd['Mileage'].apply(lambda x: re.sub(r'[^\d.]', '', str(x)))
rawd['Engine'] = rawd['Engine'].apply(lambda x: re.sub(r'[^\d.]', '', str(x)))
rawd['Power'] = rawd['Power'].apply(lambda x: re.sub(r'[^\d.]', '', str(x)))
rawd['New_Price'] = rawd['New_Price'].apply(lambda x: re.sub(r'[^\d.]', '', str(x)))
rawd.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,8.61,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.5,8.0,21,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5,2477,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190,5.0,47.87,18.55

In [8]:
rawd= pd.get_dummies(rawd, columns=['Fuel_Type', 'Transmission'])
print(rawd.dtypes)

Unnamed: 0                  int64
Name                       object
Location                   object
Year                        int64
Kilometers_Driven           int64
Owner_Type                 object
Mileage                    object
Engine                     object
Power                      object
Seats                     float64
New_Price                  object
Price                     float64
Fuel_Type_Diesel            uint8
Fuel_Type_Petrol            uint8
Transmission_Automatic      uint8
Transmission_Manual         uint8
dtype: object

In [9]:
#Q4.Creating one more feature and here we are showing the curent car age
from sklearn.preprocessing import LabelEncoder
current_year = pd.to_datetime('today').year
rawd['Car_Age'] = current_year - rawd['Year']
rawd.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
1,2,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,8.61,4.50,0,1,0,1,12
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.5,8.0,21,17.50,1,0,1,0,7
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,0,1,0,1,5
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5,2477,175.56,7.0,32.01,15.00,1,0,0,1,9
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190,5.0,47.87,18.55,1,0,1,0,9